//<!------------ footer ------------>
.footer {
  background-color: $background-black;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;

  &__logo {
    color: $accent-color;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      color: $primary-white-color;
    }
  }
  &__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 190px;
    gap: 70px;
  }
  &__li {
    width: 231px;
    height: 81px;
  }
  &__a {
    width: 231px;
    height: 21px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: $primary-white-color;
    text-decoration: none;
  }
}
.suscription {
  &__label {
    width: 275px;
    height: 16px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white-color;
    margin-bottom: 20px;
  }
  &__email {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 16px;
    /* identical to box height, or 125% */

    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(0, 0, 0, 0.7);

    box-sizing: border-box;
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  &__button {
    padding: 10px;
    padding-right: 30px;
    width: 200px;
    height: 50px;

    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $primary-white-color;
  }
  &__svg {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 140px;
    margin-top: -30px;
    overflow: hidden;
  }
}

li {
  list-style: none;
}

@media (min-width: 0px) and (max-width: 1200px) {
  .footer {
    display: flex;
    &__ul {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-left: 0;
    }
  }

  .suscription {
    &__ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      text-align: center;
      &__li {
        display: flex;
        justify-content: center;
      }
    }
    &__button {
      margin-top: 25px;
    }
  }
}

@media (min-width: 767.5px) and (max-width: 1200px) {
  .suscription__li {
    &--column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
