// --------- nav ----------
.nav__index {
  display: flex;
  align-items: center;
  gap: 93px;
}

.nav-menu {
  display: flex;
  gap: 80px;
  &__list {
    display: flex;
    gap: 80px;
  }
  &__page {
    position: relative;
    color: $primary-black-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
    &--current {
      color: $accent-color;
      fill: $accent-color;
    }
    &--current::after {
      opacity: 1;
    }
  }
  &__page::after {
    content: "";
    background-color: $accent-color;
    opacity: 0;
    position: absolute;
    left: 0;
    top: calc(100% + 28px);
    width: 100%;
    height: 4px;
    border: 2px;
    border-radius: 2px;
    transition: opacity 250ms;
  }
  &__page:hover,
  &__page:focus {
    opacity: 1;
    color: $accent-color;
    fill: $accent-color;
  }
  &__page:hover::after,
  &__page:focus::after {
    opacity: 1;
    color: $accent-color;
    fill: $accent-color;
  }
}
.nav-menu__page--current::after {
  opacity: 1;
}

.contacts-menu.ul {
  fill: $primary-text-color;
  color: $primary-text-color;
  gap: 30px;
}

@media (min-width: 0px) and (max-width: 768px) {
  .nav-menu {
    &__page {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }
  .contacts-menu {
    
    &__item p{
      flex-wrap: wrap;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 40px;
      /* identical to box height */

      letter-spacing: 0.02em;
    }
    &__item span {
      color: $accent-color;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      /* identical to box height */

      letter-spacing: 0.02em;
    }
  }
  .nav-menu.ul {
    display: none;
  }
  .contacts-menu.ul {
    display: none;
  }
}

@media (min-width:767.5px) and (max-width: 1200px) {
  .nav__index {
    padding-left: 15px;
  }
  .contacts-menu.ul {
    display: flex;
    flex-direction: column;
    height: 100px;
    
    padding: 20px 0;
  }
}