// ------------header -----------------
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 var(--container-padding);

  border-bottom: 1px solid #0000002d;

  
  padding: 30px 215px 30px 215px;
}


@media (min-width: 320px) and (max-width: 480px){
  .page-header{
    display: inline-flex;
    
    padding: 16px;
    &__navegation {
      margin-left:40vw;
    }
  }
}
@media (min-width: 479.9px) and (max-width: 720px) {
  .page-header{
    display: inline-flex;
    
    padding: 16px;
    &__navegation {
      margin-left:35vw;
    }
  }
}
