$primary-black-color: #212121;
 $primary-text-color: #757575;
 $primary-white-color: #ffffff;

 $color-border: #eeeeee;

 $accent-color: #2196f3;
 $accent-color-transparence: rgb(33, 149, 243, 90%);
 $banner-gray: rgba(47, 48, 58, 0.4);
 $background-black: #21303a;
 $background-text-oscuro: rgb(47, 48, 58, 0.8);
 $background-gray: #f5f4fa;
 $background-portfolio: #e5e5e5;
 $border-header: #ececec;
 $border-gray: #afb1b8;
 $button-filter: #f5f4fa;
 $button-primary-hover: #188ce8;
 $logo-black: #000000;
 $text-white-opacity: #ffffff99;

 $overlay-accent: rgba(33, 150, 243, 0.9);

 $container-padding: calc((100% - 1200px) / 2);
